#MOGODB
MONGODB_URL="http://localhost:5000/"
MONGODB_USER="admin"
MONGODB_PASSWORD="1234"

#MONGODB TESTS
MONGODB_URL_TESTING="http://localhost:5000/"
MONGODB_USER_TESTING="tests"
MONGODB_PASSWORD_TESTING="1234"

#FRONTEND URLS
FRONTEND_URL="http://google.com/"
FRONTEND_URL_LOCAL="http://localhost:3000/"

#MACHINE URL
MACHINE_URL="http://localhost:5000/"

# JWT
JWT_SECRET= "secret"